@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('bootstrap/bootstrap.min.css');

:root {
    --orange: #F5821F;
}

body{
    background: #fff;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    color: #3D464D;
    padding-bottom: 250px;
}
a{text-decoration: none;}
.btn{
    height: 90px;
    border-radius: 6px;
    font-size: 32px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    max-width: 100%;
}
.btn svg{
    margin-right: 20px;
}
.btn-energosf-v3{
    background: transparent;
    border: 3px solid #CDCECE;
    color: #1B1B1B;
    padding: 0.275rem 2.05rem;
}

.btn-energosf-v4{
    background: #FFEEE9;
    border: 1px solid var(--orange);
    color: #3D464D;
    padding: 0.275rem 2.05rem;
}

.btn-energosf-v2{
    background: transparent;
    border: 3px solid #fff;
    color: #fff;
    padding: 0.275rem 2.05rem;
}
.btn-energosf-v1{
    background: var(--orange);
    border: 3px solid var(--orange);
    color: #fff;
    padding: 29px 60px;
}
.btn.btn-block{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0;
}
.btn.btn-detail{
    margin: 0 -26px -26px;
    width: calc(100% + 52px);
    max-width: inherit;
}
footer{
    background: var(--orange);
    height: 192px;
    padding: 51px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
p{margin-bottom: 18px;}
h2, .title-filter{
    margin-bottom: 0;
    font-size:32px;
    font-weight: bold;
}
hr{
    border-color: #CDCECE;
    margin: 15px 0;
    padding: 0;
}
.mb-default{
    margin-bottom: 30px;
}
.mb-default-x05{
    margin-bottom: 15px;
}
.mb-default-x2{
    margin-bottom: 60px;
}
.basket{
    width: 400px;
    height: 200px;
    background: #FFFFFF;
    border: 3px solid var(--orange);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 125px;
    display: inline-flex;
    position: relative;
    top: -90px;
    align-items: center;
    justify-content: center;
    color: #273B4A;
    font-size: 32px;
    text-decoration: none;
}
    .basket span {
        text-align: left;
    }
    .basket svg {margin-right: 25px;}

header{
    padding: 53px 0 69px;
}
header .logo{
    margin-top: -26px;
    width: 164px;
    display: block;
}
header .logo img{width: 100%;}
.form-control{
    height: 90px;
    border: 2px solid #C4C4C4;
    background: #F3F5F7;
    border-radius: 10px;
    font-size: 32px;
}
form{position: relative;}
.ico-search{
    position: absolute;
    top: 25px;
    left: 38px;
}
.search-input{
    padding-left: 120px;
}

h1{
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 30px;
}
.tab{
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px dotted;
    margin-right: 60px;
}
.tab.tab-active{
    border-color: transparent;
    color: var(--orange);
}
.sort-view{
    display: flex;
    justify-content: space-between;
}
.form-check-input{
    width: 60px;
    height: 60px;
    margin-top: 0;
}
.form-check-label{
    padding-left: 30px;
    padding-top: 10px;
}
.form-check{
    height: 60px;
    min-height: auto;
    margin-bottom: 15px;
}

.catalog-item{
    border: 1px solid var(--orange);
    border-radius: 10px;
    padding: 25px;
}
.b-l1{
    display: flex;
    justify-content: space-between;
}
.input-group{
    border-radius: 10px;
    border: 1px solid #C4C4C4;
}
    .input-group-text{
        background: transparent;
        color: #3D464D;
        font-size: 52px;
        border:none;
        padding: 0 30px;
        cursor: pointer;
    }
    .input-group .form-control {
        background: transparent;
        border: none;
        text-align: center;
    }

    .price{
        font-size: 32px;
        font-weight: bold;
    }
    .catalog-item--name{
        font-size: 32px;
        margin-bottom: 20px;
        color: #3D464D;

    }
    .list-char{
        font-size: 24px;
        line-height: 28px;
        list-style: none;
        padding: 0;
        margin: 0;
    }
        .list-char li{
            padding-left: 1em;
            text-indent: -.7em;
        }
        .list-char li::before {
            content: "• ";
            color: var(--orange);
        }
    .success{
        text-align: center;
        color: #28A745;
        font-size: 28px;
        font-weight: bold;
    }

    .catalog-items-list hr{
        background: var(--orange);
        margin-left: -30px;
        width: calc(100% + 60px);
        margin-top: 30px;
        margin-bottom: 30px;
        height: 2px;
    }